@model MovieShop.Entities.Movie

<div class="card mb-4 shadow bg-light">
    <img class="img-fluid" src=@Url.Content(Model.PosterUrl) alt="Card image cap Responsive">
    @*<div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
    </div>*@
</div>

